/* Reset some default browser styles */
body, h1, h2, h3, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

/* Main content styles */
main {
    padding: 2rem;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

#calendar-title-underline {
    border-bottom: 3px solid rgb(59, 170, 204); /* Red: 59, Green: 170, Blue: 204 */
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
    /* Add responsive styles here */
}